@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0F19;
  --foreground: #f3f4f6;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glass-effect {
    background: rgba(17, 24, 39, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}
